<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Planet Express Report</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Pilot', 'Earned'],
          <% grouped.each do |pilot, trip| %>
          ['<%= pilot %>',     <%= trip.reduce(0) {|sum, value| sum + value.money }%>],
          <% end %>
        ]);

        var options = {
          title: 'Profit by Employee'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
      </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Destination', 'Earned'],
          <% groupedbyplanet.each do |destination, trip| %>
          ['<%= destination %>',     <%= trip.reduce(0) {|sum, value| sum + value.money }%>],
          <% end %>
        ]);

        var options = {
          title: 'Profit by Destination'
        };

        var chart = new google.visualization.PieChart(document.getElementById('chartbyplanet'));

        chart.draw(data, options);
      }
      </script>
  </head>
  <body>
    <h1>Total profit this week: <%= profit %></h1>
      <img src="http://i.giphy.com/xuDHhHcCR0rew.gif" />
      <table border= "9">
        <tr>
          <th>
            Destination
          </th>
          <th>
            Shipment
          </th>
          <th>
            Crates
          </th>
          <th>
            Money
          </th>
          <th>
            Pilot
          </th>
        </tr>
        <% log.each do |trip| %>
        <tr>
          <td>
            <%= trip.destination %>
          </td>
          <td>
            <%= trip.shipment %>
          </td>
          <td>
            <%= trip.crates %>
          </td>
          <td>
            <%= trip.money %>
          </td>
          <td>
            <%= trip.pilot %>
          </td>
        </tr>
        <% end %>
      </table>
        <h2>Individual Bonuses</h2>
      <table border="9">
        <tr>
          <th>
             Pilot
          </th>
          <th>
             Trips
          </th>
          <th>
             Bonus
          </th>
        </tr>
        <tr>
          <% grouped.each do |pilot, trip| %>
          <td>
            <%= pilot %>
          </td>
          <td>
            <%= trip.length %>
          </td>
          <td>
            <%= trip.reduce(0) {|sum, value| sum + value.money }/10.0 %>
          </td>
        </tr>
        <% end %>
      </table>
      <div id="piechart" style="width: 900px; height: 500px;"></div>
      <div id="chartbyplanet" style="width: 900px; height: 500px;"></div>
  </body>
</html>
